/* Header */
header
{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#title h1
{
    font-weight: bold;
    text-align: center;
}

/* Body */
body
{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#main_wrapper
{
    width: 900px;
    margin: auto;
}

h1, h2
{
    font-weight: bold;
    text-align: center;
}

p
{
    text-align: justify;
}

a
{
   text-decoration: underline;
   color: gray;
   font-style: italic;
}

a:hover
{
   text-decoration: underline;
   color: blue;
}

/* footer */
.links
{
    text-align: center;
}

/* nav */
nav a
{
    color: gray;
}

nav a:hover
{
    color: blue;
}