/* Header */
header
{
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: flex-end;
}

header h1
{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

/* Body */
body
{
    background-color: black;
    color: white;
    display: flex;
}

h1
{
    font-weight: bold;
    text-align: center;
}

h2
{
    font-weight: bold;
    text-align: center;
    margin-left: -210px;
}

h3
{
    text-indent: 100px;
}

p
{
    text-align: justify;
    text-indent: 20px;
}

#phone
{
    text-indent: 0px;
}

a
{
   text-decoration: underline;
   color: gray;
   font-style: italic;
}

a:hover
{
   text-decoration: underline;
   color: blue;
}

section
{
    display: flex;
    margin-bottom: 20px;
}

article
{
    width: 80vw;
    margin-left: 210px;
}

#pde
{
    background-color: gray;

}

.card1 {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content1 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card1:hover .content1 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front1, .back1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: yellowgreen;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back1 {
    background: yellowgreen;
    line-height: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    transform: rotateY( 180deg );
  }

  .card2 {
    position: absolute;
    top: 50%;
    left: 42%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content2 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card2:hover .content2 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front2, .back2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: violet;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back2 {
    background: violet;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card3 {
    position: absolute;
    top: 50%;
    left: 44%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content3 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card3:hover .content3 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front3, .back3 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: blue;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back3 {
    background: blue;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card4 {
    position: absolute;
    top: 50%;
    left: 46%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content4 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card4:hover .content4 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front4, .back4 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: green;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back4 {
    background: green;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card5 {
    position: absolute;
    top: 50%;
    left: 48%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content5 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card5:hover .content5 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front5, .back5 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: fuchsia;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back5 {
    background: fuchsia;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card6 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content6 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card6:hover .content6 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front6, .back6 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: orangered;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back6 {
    background: orangered;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card7 {
    position: absolute;
    top: 50%;
    left: 52%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content7 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card7:hover .content7 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front7, .back7 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: lightcyan;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back7 {
    background: lightcyan;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card8 {
    position: absolute;
    top: 50%;
    left: 54%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content8 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card8:hover .content8 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front8, .back8 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: maroon;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back8 {
    background: maroon;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card9 {
    position: absolute;
    top: 50%;
    left: 56%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content9 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card9:hover .content9 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front9, .back9 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rebeccapurple;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back9 {
    background: rebeccapurple;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card10 {
    position: absolute;
    top: 50%;
    left: 58%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content10 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card10:hover .content10 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front10, .back10 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: gold;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back10 {
    background: gold;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card11 {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content11 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card11:hover .content11 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front11, .back11 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: salmon;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back11 {
    background: salmon;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card12 {
    position: absolute;
    top: 50%;
    left: 62%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content12 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card12:hover .content12 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front12, .back12 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rebeccapurple;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back12 {
    background: rebeccapurple;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card13 {
    position: absolute;
    top: 50%;
    left: 64%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content13 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card13:hover .content13 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front13, .back13 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(44, 16, 72);
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back13 {
    background: rgb(44, 16, 72);
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

  .card14 {
    position: absolute;
    top: 50%;
    left: 66%;
    width: 20px;
    height: 20px;
    margin: -150px;
    float: left;
    perspective: 500px;
  }
  
  .content14 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card14:hover .content14 {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front14, .back14 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: navy;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .back14 {
    background: navy;
    line-height: 20px;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transform: rotateY( 180deg );
  }

/* sidebar */
#sidebar
{
    flex: 3;
    width: 14vw;
    background-color: black;
    border-radius: 5px;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

nav a
{
    color: gray;
}

nav a:hover
{
    color: blue;
}

/* footer */
#footer
{
    background-color: black;
    color: white;
    position: relative;
}

.links
{
    text-align: center;
}