body
{
    background-color: black;
    color: white;
}

h1, h2
{
    font-weight: bold;
    text-align: center;
}

p
{
    text-align: justify;
}

a
{
   text-decoration: underline;
   color: gray;
   font-style: italic;
}

a:hover
{
   text-decoration: underline;
   color: blue;
}


.liens
{
    text-align: center;
}